.navbar-inverse 
{
	background-color: #046149;
	 
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-nav > li > .dropdown-menu, .option-box .color-option
{
	background-color: #6d8617;
}
.navbar-inverse .navbar-brand
{
	color: #967f7f;
}
.navbar-inverse .navbar-brand span:hover 
{
	color:black;
}